/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./src/ui/Input/Input.module.scss ***!
  \**************************************************************************************************************/
.NzJtkGrdkjKPdy2BxqOm {
  .sQ_LcNJ7FODOewik6JQz {
    margin-bottom: 12px;
  }
}

.VhlKuAyWpCgIdVftvg6H {
  display: block;
  line-height: 24px;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.05em;
  font-weight: 200;

  &:focus, &:focus-visible {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8)
  }
}

.sQ_LcNJ7FODOewik6JQz {
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.HlObrbm1miPzFm_Ei8j3 {
  margin: 0;
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./src/ui/Dialog/Dialog.module.scss ***!
  \****************************************************************************************************************/
.zeDNYnNcSEi2MrT8zzZj {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  top: 30%;
}

.AcNPsAGr8msHBd7BunG4 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: #fff;
}

/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./src/ui/Button/Button.module.scss ***!
  \****************************************************************************************************************/
.TlYSdkvjy8CvSMMQ0Zfb {
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px;
  border: none;
  font-family: inherit;
  letter-spacing: 0.05em;

  &:hover {
    cursor: pointer;
  }

  &:not(.bMdyGIjFgvdLjpOR98tZ) {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid rgba(102, 67, 177, 1);

    &:active {
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(102, 67, 177, 0.8);
    }
  }
}

.bMdyGIjFgvdLjpOR98tZ {
  background: rgba(204, 243, 75, 1);
  border: 1px solid rgba(204, 243, 75, 1);
  color: #000;

  &:active {
    background: rgba(204, 243, 75, 0.8);
    border: 1px solid rgba(204, 243, 75, 0.8);
  }
}

/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./src/features/auth/Auth.module.scss ***!
  \******************************************************************************************************************/
.QJT23MWY35TMOJOsYuKz {
  background-image: url(d53f9e977304d5d4ad2b.svg);
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;

  & input {
    width: 300px;
  }
}

._I3PSXJiByY7QMbMuek0 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*!*************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./src/index.scss ***!
  \*************************************************************************************************************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0.05em;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi42ZjgwZDEzMGU0ODliYjUyNGIyZi5jc3MiLCJtYXBwaW5ncyI6Ijs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7O0FBQUE7RUFDRSxTQUFTO0VBQ1QsVUFBVTtFQUNWLGdDQUFnQztFQUNoQyxzQkFBc0I7QUFDeEIsQyIsInNvdXJjZXMiOlsid2VicGFjazovL3JlYWx3cm90Ly4vc3JjL2luZGV4LnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiYm9keSB7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbiAgZm9udC1mYW1pbHk6IFwiRXhvIDJcIiwgc2Fucy1zZXJpZjtcbiAgbGV0dGVyLXNwYWNpbmc6IDAuMDVlbTtcbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/