/*!*********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./src/ui/Input/Input.module.scss ***!
  \*********************************************************************************************************************************************************************************/
.NzJtkGrdkjKPdy2BxqOm .sQ_LcNJ7FODOewik6JQz {
  margin-bottom: 12px;
}

.VhlKuAyWpCgIdVftvg6H {
  display: block;
  line-height: 24px;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
  margin: 0;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 200;
}
.VhlKuAyWpCgIdVftvg6H:focus, .VhlKuAyWpCgIdVftvg6H:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.sQ_LcNJ7FODOewik6JQz {
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.HlObrbm1miPzFm_Ei8j3 {
  margin: 0;
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}
/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./src/ui/Dialog/Dialog.module.scss ***!
  \***********************************************************************************************************************************************************************************/
.zeDNYnNcSEi2MrT8zzZj {
  display: flex;
  flex-direction: column;
  gap: 40px;
  top: 50%; /* fallback */
  top: calc(var(--vh, 1vh) * 50);
  transform: translateY(-50%);
}

.AcNPsAGr8msHBd7BunG4 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./src/ui/Button/Button.module.scss ***!
  \***********************************************************************************************************************************************************************************/
.TlYSdkvjy8CvSMMQ0Zfb {
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px;
  border: none;
  font-family: inherit;
  letter-spacing: 0.05em;
}
.TlYSdkvjy8CvSMMQ0Zfb:hover {
  cursor: pointer;
}
.TlYSdkvjy8CvSMMQ0Zfb:not(.bMdyGIjFgvdLjpOR98tZ) {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid #118ab2;
}
.TlYSdkvjy8CvSMMQ0Zfb:not(.bMdyGIjFgvdLjpOR98tZ):active {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #2B6F85;
}
.TlYSdkvjy8CvSMMQ0Zfb:not(.bMdyGIjFgvdLjpOR98tZ):hover:not(:active) {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #46B4D9;
}

.bMdyGIjFgvdLjpOR98tZ {
  color: #000;
  background: #06d6a0;
  border: 1px solid #06d6a0;
}
.bMdyGIjFgvdLjpOR98tZ:active {
  background: #2CA183;
  border: 1px solid #2CA183;
}
.bMdyGIjFgvdLjpOR98tZ:hover:not(:active) {
  background: #40EBC0;
  border: 1px solid #40EBC0;
}
/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./src/features/auth/Auth.module.scss ***!
  \*************************************************************************************************************************************************************************************/
.QJT23MWY35TMOJOsYuKz {
  /*background-image: url('../../assets/pattern.svg');*/
  display: grid;
  place-content: center;
  height: 100vh; /* fallback */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}
.QJT23MWY35TMOJOsYuKz input {
  width: 300px;
}

._I3PSXJiByY7QMbMuek0 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/*!***************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./src/ui/Background/AnimatedBackground.module.scss ***!
  \***************************************************************************************************************************************************************************************************/
@keyframes F_Nfttl4fyrVn4_A1bJw {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.GVfqQf6rZL3Hc7UqDhrT {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #073b4c;
  overflow: hidden;
}
.GVfqQf6rZL3Hc7UqDhrT span {
  width: 30vmin;
  height: 30vmin;
  border-radius: 30vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: F_Nfttl4fyrVn4_A1bJw;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(0) {
  color: #ef476f;
  top: 94%;
  left: 19%;
  animation-duration: 148s;
  animation-delay: -110s;
  transform-origin: -5vw -6vh;
  box-shadow: -60vmin 0 8.4449508117vmin currentColor;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(1) {
  color: #ffd166;
  top: 87%;
  left: 74%;
  animation-duration: 164s;
  animation-delay: -37s;
  transform-origin: -21vw 20vh;
  box-shadow: 60vmin 0 8.4398913402vmin currentColor;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(2) {
  color: #118ab2;
  top: 77%;
  left: 72%;
  animation-duration: 26s;
  animation-delay: -94s;
  transform-origin: -17vw 14vh;
  box-shadow: 60vmin 0 7.6443239188vmin currentColor;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(3) {
  color: #ffd166;
  top: 2%;
  left: 59%;
  animation-duration: 32s;
  animation-delay: -155s;
  transform-origin: -11vw -10vh;
  box-shadow: -60vmin 0 7.9948108746vmin currentColor;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(4) {
  color: #118ab2;
  top: 61%;
  left: 58%;
  animation-duration: 72s;
  animation-delay: -163s;
  transform-origin: 19vw 0vh;
  box-shadow: 60vmin 0 8.4910934388vmin currentColor;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(5) {
  color: #06d6a0;
  top: 24%;
  left: 95%;
  animation-duration: 148s;
  animation-delay: -138s;
  transform-origin: 16vw -14vh;
  box-shadow: 60vmin 0 8.1562743573vmin currentColor;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(6) {
  color: #ef476f;
  top: 65%;
  left: 69%;
  animation-duration: 52s;
  animation-delay: -66s;
  transform-origin: -15vw -15vh;
  box-shadow: 60vmin 0 8.4886588907vmin currentColor;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(7) {
  color: #ffd166;
  top: 64%;
  left: 31%;
  animation-duration: 57s;
  animation-delay: -23s;
  transform-origin: -24vw -17vh;
  box-shadow: 60vmin 0 8.1844657113vmin currentColor;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(8) {
  color: #ef476f;
  top: 43%;
  left: 69%;
  animation-duration: 198s;
  animation-delay: -68s;
  transform-origin: -8vw 11vh;
  box-shadow: 60vmin 0 7.7944062543vmin currentColor;
}
.GVfqQf6rZL3Hc7UqDhrT span:nth-child(9) {
  color: #118ab2;
  top: 47%;
  left: 16%;
  animation-duration: 148s;
  animation-delay: -2s;
  transform-origin: 21vw 21vh;
  box-shadow: 60vmin 0 7.7311245459vmin currentColor;
}
/*!*************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./src/index.scss ***!
  \*************************************************************************************************************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0.05em;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi4wYTg0NzVkY2E5MGMyYjk2MDdkOC5jc3MiLCJtYXBwaW5ncyI6Ijs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7OztBQUFBO0VBQ0UsU0FBUztFQUNULFVBQVU7RUFDVixnQ0FBZ0M7RUFDaEMsc0JBQXNCO0FBQ3hCLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9yZWFsd3JvdC8uL3NyYy9pbmRleC5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDA7XG4gIGZvbnQtZmFtaWx5OiBcIkV4byAyXCIsIHNhbnMtc2VyaWY7XG4gIGxldHRlci1zcGFjaW5nOiAwLjA1ZW07XG59Il0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/