@import "../../theme";

.wrapper {
  .input {
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    color: #fff;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 200;

    &:focus, &:focus-visible {
      border: none;
      outline: none;
      border-bottom: 1px solid $platinum;
    }
  }

  .label {
    display: block;
    margin-bottom: map-get($lineSpacingBottom, "regular");
    font-weight: 300;
  }

  .underline {
    margin: 0;
    display: block;
    height: 1px;
    background-color: $silverSand;
    width: 100%;
  }

  .error {
    font-size: map-get($fontSize, "secondary");
    line-height: map-get($lineHeight, "secondary");
    margin-top: map-get($lineSpacingTop, "secondary");
    display: inline-block;
  }
}
