.wrapper {
  .label {
    margin-bottom: 8px;
  }
}

.input {
  display: block;
  line-height: 24px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
  margin: 0;

  &:focus, &:focus-visible {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8)
  }
}

.label {
  display: block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.underline {
  margin: 0;
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}
