@import "../../theme";

.wrapper {
  .input {
    display: block;
    box-sizing: border-box;
    border: 1px solid $silverSand;
    border-radius: 6px;
    padding: 6px;
    color: $platinum;
    background-color: rgba($smokyBlack, 0.3);
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 200;
    font-size: map-get($fontSize, "regular");
    line-height: map-get($lineHeight, "regular");

    &:focus, &:focus-visible {
      outline: none;
      border-color: $platinum;
    }

    &::placeholder {
      color: $silverSand;
    }
  }

  .error {
    font-size: map-get($fontSize, "secondary");
    line-height: map-get($lineHeight, "secondary");
    margin-top: map-get($lineSpacingTop, "secondary");
    display: inline-block;
    padding-left: 8px;

    &:first-letter {
      text-transform: capitalize;
    }
  }
}
