@import "../../theme";

.button {
  box-sizing: border-box;
  width: 100%;
  border-radius: 6px;
  font-size: map-get($fontSize, "regular");
  padding: 8px;
  border: none;
  font-family: inherit;
  letter-spacing: 0.05em;

  &:hover {
    cursor: pointer;
  }

  &:not(.primary) {
    background: none;
    color: $platinum;
    border: 1px solid map-get($secondary, "main");

    &:active {
      background: rgba($smokyBlack, 0.3);
      border: 1px solid map-get($secondary, "dark");
    }

    &:hover:not(:active) {
      background: rgba($smokyBlack, 0.1);
      border: 1px solid map-get($secondary, "light");
    }
  }
}

.primary {
  color: $smokyBlack;

  background: map-get($primary, "main");
  border: 1px solid map-get($primary, "main");

  &:active {
    background: map-get($primary, "dark");
    border: 1px solid map-get($primary, "dark");
  }

  &:hover:not(:active) {
    background: map-get($primary, "light");
    border: 1px solid map-get($primary, "light");
  }
}
