.container {
  display: grid;
  place-content: center;
  height: 100vh; /* fallback */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;

  & input {
    width: 300px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
