@import "../../theme";

.dialog {
  background: $darkGunmetal;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid $lightSlateGray;
  padding-top: 1.6em;
  position: inherit;

  color: $platinum;
  font-weight: 300;
}

.modal {
  top: 50%; /* fallback */
  top: calc(var(--vh, 1vh) * 50);
  transform: translateY(-50%);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}
