$infraRed: #ef476f;
$orangeYellow: #ffd166;
$prussianBlue: #073b4c;

$blueGreen: #118ab2;
$pictonBlue: #46B4D9;
$tealBlue: #2B6F85;

$caribbeanGreen: #06d6a0;
$turquoise: #40EBC0;
$jungleGreen: #2CA183;

$primary: ("main": $caribbeanGreen, "light": $turquoise, "dark": $jungleGreen);
$secondary: ("main": $blueGreen, "light": $pictonBlue, "dark": $tealBlue);
