$smokyBlack: #0b0c10;

$darkGunmetal: #1f2833;
$lightSlateGray: #788799;
$darkJungleGreen: #1B2026;

$silverSand: #c5c6c7;
$platinum: #E2E2E3;
$spanishGray: #949595;

$electricBlue: #66fcf1;
$lightElectricBlue: #85fdf4;
$darkElectricBlue: #21fbeb;

$keppel: #45a29e;
$lightKeppel: #62bcb8;
$darkKeppel: #37827e;

$primary: ("main": $electricBlue, "light": $lightElectricBlue, "dark": $darkElectricBlue);
$secondary: ("main": $keppel, "light": $lightKeppel, "dark": $darkKeppel);

$fontSize: ("regular": 16px, "secondary": 13px, "caption": 20px, "header": 26px); // next size: 33
$lineHeight: ("regular": 25px, "secondary": 21px, "caption": 31px, "header": 39px); // next size: 49
$lineSpacingTop: ("regular": 16px, "secondary": 10px, "caption": 25px, "header": 40px); // next size: 40
$lineSpacingBottom: ("regular": 6px, "secondary": 4px, "caption": 9px, "header": 15px); // next size: 25
